
.mainConteiner-admin {
    max-width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
}
.titleGestionar {
    font-size: 1.2rem;
    text-align: right;
    margin-right: 10px; 
    color: #1d1d1d;
    opacity: 0.7;  
    align-self: flex-end;
}
.contentCat-admin {
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    column-gap: 60px;
}
.contentCat-admin>:last-child {
    grid-column-start: 2;
    grid-column-end: 3;
}
/* .contentCat-admin {
    width: 85vw;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 5px;
    scroll-snap-type: x mandatory;
    overflow-x: scroll;

} */

/* .contentCat-admin>div:first-child {
    margin-left: 20px;
} */

/* .contentCat-admin>div:last-child {
    margin-right: 20px;
} */