.AdminProductCard{
    background-color: #FFF;
    width: 150px;
    height: 300px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    color: #1d1d1d;
    font-size: 0.7rem;
    /* cursor: pointer; */
    transition: all 0.5s ease;
    border: rgba(0, 0, 0, 0.25) 0.5px solid;
}
/* .AdminProductCard:hover{
    scale: 1.1;
} */

.AdminProductCard>img{
    width: 100%;
    margin: 0px;
    padding: 0px;
    height: 50%;   
    object-fit: contain;
}
.AdminProductCard>h2{
    margin: 0%;
}
.AdminProductCard>span{
    color: #0066ff;
    font-weight: bold;
    font-size: 1.2rem;
}
.Buttons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}
.ModificarButton{
    border-style: none;
    border-radius: 10px;
    background-color: #0066ff;
    color: #FFF;
    border: none;
    padding: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.EliminarButton{
    border-style: none;
    border-radius: 10px;
    background-color: #AE0000;
    color: #FFF;
    border: none;
    padding: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}