.layoutCarritoCompra {
  max-width: 100vw;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 5%;
}
.layoutCarritoCompra:first-child > h2 {
  align-self: flex-start;
  color: #1d1d1d;
  opacity: 0.8;
  margin-left: 5%;
}
.contenedorItemCarrito {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contenedorItemCarrito > table {
  width: 80%;
  text-align: center;
  border-collapse: collapse;
}

.contenedorItemCarrito > table,th,td {
  border: 2px solid #333;
  padding: 8px;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.contenedorItemCarrito > table{
  border-bottom: none;
  border-left: none;
  border-right: none;
}
.contenedorItemCarrito > table,th,td{
  border-right:2px solid;
}

.bodyTableCarrito > tr > td {
  justify-content: center;
}
.bodyTableCarrito tr:last-child td {
  border: none;
}
.bodyTableCarrito tr:last-child td:nth-child(1){
  border: 0px solid #333;
}
.bodyTableCarrito tr:last-child td:nth-child(5){
  border-right: 2px solid #333;
  border-left: 2px solid #333;
  border-bottom: 2px solid #333;
}

.bodyTableCarrito>tr:last-child{
    border-top: 2px solid #333;
}


.bodyTableCarrito > tr:hover {
  background-color: #c7c6c6;
 
}
.bodyTableCarrito > tr > td > span {
  color: #0066ff;
  font-weight: bold;
}
.bodyTableCarrito > tr > td > p {
  text-decoration: line-through;
}
.bodyTableCarrito tr:last-child td:nth-child(6){
  border-right: 2px solid white;
}

.SigueComprando{
  width: auto;
  position: fixed;
  top: 50%;
  left: 5%;
  border: 2px solid #0066FF;
  border-radius: 16px;
  padding: 5px;
  cursor: pointer;
  transition: all 0.4s ease;
}
.SigueComprando>img{
  width: 10%;
}
.SigueComprando:hover{
  color: white;
  background: #0066FF;
}
.cellBtn {
  display: flex;
  border: none;
  justify-content: center;
  align-items: center;
}

.contentPago{
  max-width: 200px;
  margin-left: 40%;

}

@media (width<400px) {
  .contenedorItemCarrito {
    align-self: flex-start;
  }
}
@media (width<600px) {
  .layoutCarritoCompra {
    min-width: 100vw;
  }
  .contenedorItemCarrito {
    max-width: 100vw;
    font-size: 0.5rem;
  }
}
.subTotal{
  display: inline;
  margin: 0px;
  font-size: 0.8rem;
}